<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <title>Cadastro de Livros</title>
</head>
<body>
    <h1>Cadastrar Livro</h1>

    <form method="post" id="form-add-livro">
        <label for="titulo" class="label-add-livro">Título:</label>
        <input type="text" placeholder="Título..." class="input-add-livro">

        <label for="autor" class="label-add-livro">Autor:</label>
        <input type="text" placeholder="Autor..." class="input-add-livro">

        <label for="publicacao" class="label-add-livro">Ano de publicação</label>
        <input type="text" placeholder="Ano..." class="input-add-livro">

        <br>

        <button type="submit" class="confirmar">Cadastrar livro</button>
    </form>

    <button class="voltar"><a href="">Voltar ao Acervo</a></button>
</body>
</html>