<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <title>Cadastro de Usuários</title>
</head>
<body>
    <h1>Cadastrar Usuário</h1>

    <form method="post" id="form-add-user">
        <label for="nome" class="label-add-user">Nome:</label>
        <input type="text" placeholder="Nome..." class="input-add-user">

        <br>

        <button type="submit" class="confirmar">Cadastrar usuário</button>
    </form>

    <button class="voltar"><a href="">Voltar ao Acervo</a></button>
</body>
</html>