<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <title>Empréstimos</title>
</head>
<body>
    <h1>Cadastrar Empréstimo</h1>

    <form method="post" id="form-add-emprestimo">
        <label for="cliente" class="label-add-emprestimo">Cliente:</label>
        <input type="text" placeholder="ID..." class="input-add-emprestimo">

        <label for="livro" class="label-add-emprestimo">Livro:</label>
        <input type="text" placeholder="ID..." class="input-add-emprestimo">

        <label for="emprestimo" class="label-add-emprestimo">Data de empréstimo:</label>
        <input type="text" placeholder="AAA-MM-DD..." class="input-add-emprestimo">

        <label for="devolucao" class="label-add-emprestimo">Data de devolução:</label>
        <input type="text" placeholder="AAA-MM-DD..." class="input-add-emprestimo">

        <br>

        <button type="submit" class="confirmar">Cadastrar emprestimo</button>
    </form>

    <button class="voltar"><a href="">Voltar ao Acervo</a></button>
</body>
</html>