<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Lista de tarefas</title>
</head>
<body>
    <h1>Tarefas registradas</h1>

    <table>
        <tr>
            <th>Nome da tarefa</th>
            <th>Descrição</th>
            <th>Prioridade</th>
            <th><span></span></th>
        </tr>
        <tr>
            <td>Nome1</td>
            <td>Desc1</td>
            <td>Prioridade1</td>
            <td>
                <a href=""><button class="edit-btn">✎</button></a>
                <a href=""><button class="delete-btn">🗑️</button></a>
            </td>
        </tr>
    </table>

    <section class="task-container">
            <div class="tasks">
                <div class="task-text">
                    <h3>Nome da tarefa</h3>
                    <p>Prioridade da tarefa</p>
                    <p>Descrição da tarefa</p>
                </div>
                <div class="task-buttons">
                    <a href=""><button class="edit-btn">✎</button></a>
                    <a href=""><button class="delete-btn">🗑️</button></a>
                </div>
            </div>
    </section>
</body>
</html>